{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [reagent "1.1.1"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :build-options
                      {:cache-level :jars}
                      :compiler-options {:optimizations :advanced
                                         :pretty-print  false
                                         :source-map false
                                         :pseudo-names false}
                      :modules    {:app {:entries [fauxcel.core]}}
                      :devtools   {:after-load fauxcel.core/mount-root}}
                :serverless {:target :esm
                             :output-dir "public/api"
                             :modules {:base {:entries []}
                                       :test-handler {:exports {default fauxcel.serverless.api.test-handler/handler}
                                                      :depends-on #{:base}}
                                       :test-handler2 {:exports {default fauxcel.serverless.api.test-handler2/handler}
                                                       :depends-on #{:base}}}}}

 :dev-http     {3000 {:root "public"}}}
