:root {
  --robin-egg-blue: #51d1e1ff;
  --turquoise: #3be3beff;
  --night: #03120fff;
  --federal-blue: #120052ff;
  --maize: #feed72ff;

  --dark-color-1: var(--night);
  --dark-color-2: var(--federal-blue);

  --primary-color: var(--robin-egg-blue);
  --secondary-color: var(--turquoise);
  --accent-color: var(--maize);
  --bg-color-light: #EEFAFCFF;
  --border-light: var(--bg-color-light);

  --primary-gradient: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  --dark-gradient: linear-gradient(34deg, var(--federal-blue) 0%, var(--night) 50%);

  --bg-color-dark: var(--night);
  --highlight: var(--turquoise);
  --button-text: #FFFDEBFF;
  --button-bg-color: var(--federal-blue);
  --button-bg-active: #66005aff;
  --button-bg-disabled: #322f32;


  --select-border: var(--highlight);
  --select-focus: #a8e8f0ff;
  --select-arrow: var(--select-border);
  --cell-border: hsl(190, 34%, 88%);
  --cell-max-width: 8em;
  --cell-label-bg: #06231Dff;
  --cell-label-text: var(--button-text);
}