body {
  font-family: solitas-serif-normal, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

p,
span {
  font-family: solitas-serif-normal, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.dark-bg {
  /* dark gradient background */
  background: var(--dark-gradient);
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.loading-wrapper {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  /* linear gradient at 34deg angle */
}

div.modal {
  background: var(--primary-gradient);
  border-radius: 0.5em;
}

div.about.modal {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.2em 0.2em 0.6em var(--dark-color-1);
}

.logo.loading {
  background: url('/images/fauxcel-logo-large.png') no-repeat center center;
  width: 30vh;
  height: 30vh;
  background-size: contain;
  position: relative;
  animation: spin 2s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.logotype {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1.logotype {
  color: var(--dark-color-1);
  font-size: 5em;
  text-align: center;
  text-shadow: 0.05em 0.05em 0.1em var(--dark-color-2);
}

.loading-text {
  color: var(--dark-color-1);
  font-size: 2em;
  font-family: new-atten, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0.03em 0.03em 0.075em var(--dark-color-1);
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

.toolbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  color: var(--button-text);
}

.cell-sheet-footer {
  background: var(--dark-gradient);
  height: 2em;
  position: sticky;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
}

.cell-sheet-footer .button-group {
  padding: 0.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell-sheet-footer .button-group button {
  margin: 0 0.25em;
}

.cell-sheet-footer button.simple {
  color: var(--accent-color);
  font-size: 1em;
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 700;
  font-style: normal;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

.cell-sheet-footer button.simple:hover {
  border: 1px solid rgba(120, 120, 120, 0.5);
}

.cell-sheet-footer button.simple:active {
  border: 1px solid var(--accent-color);
  background-color: var(--button-bg-active);
}

.tab-selector {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding: 0 .5em 0.25em .5em;
}

.tab-selector.bottom .tab {
  border-bottom: 2px solid;
  border-top: none;
  border-radius: 0 0 0.5em 0.5em;
}

.tab-selector.top .tab {
  border-bottom: none;
  border-top: 2px solid;
  border-radius: 0.5em 0.5em 0 0;
}

.tab-selector .tab.active {
  box-shadow: 0px 0.1em 0.1em var(--highlight);
  border-color: var(--highlight);
}

.tab.active span {
  color: var(--dark-color-1);
}

.tab span {
  color: black;
  user-select: none;
}

.tab-selector .tab {
  background-color: var(--bg-color-light);
  padding: 0.25em 0.3em;
  margin: 0 4px 0 0;
  border-color: none;
  border-left: 2px solid;
  border-right: 2px solid;
  box-shadow: 0px 0.1em 0.1em rgba(0,0,0,0.5);
  cursor: pointer;
}

.auto-formula-panel {
  color: var(--button-text);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-left: auto;
  padding-right: 1em;
}

.auto-formula .result {
  padding: 0 0 0 0.25em;
}

.auto-formula-panel .auto-formula, .auto-formula-panel .empty-selection {
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 500;
  font-style: normal;
  padding: 0 0.5em;
}

.auto-formula-panel .auto-formula .result {
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 600;
  font-style: normal;
  color: var(--accent-color);
}

.toolbar-item.button {
  font-size: 1.25em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 1.25em;
  width: 1.25em;
  padding: 0.25em;
  text-align: center;
  margin: 0 0.1em;
}

.toolbar-item.button.github {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.toolbar-item.button.github .caption {
  font-family: new-atten, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.25em;
}

.toolbar-item.button.github .icon {
  background: url('/images/github-logo-white.png') no-repeat center center;
  background-size: contain;
  display: block;
  width: 1.25em;
  height: 1.25em;
  min-width: 1.25em;
}

.toolbar-item.button.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.toolbar-item.button.disabled:hover {
  opacity: 0.25;
  background-color: transparent;
}


.toolbar-item.button.disabled span {
  cursor: not-allowed;
}

.toolbar-item.button:hover {
  border: 1px solid var(--dark-color-1);
  background-color: var(--button-bg-active);
}

.toolbar-item.button.separator {
  background-color: transparent;
  cursor: default;
}

.toolbar-item.button.separator:hover {
  background-color: transparent;
}

.toolbar-item.button.bold span {
  font-family: solitas-serif-normal, serif;
  font-weight: 700;
  font-style: normal;
}

.toolbar-item.button.italic span {
  font-family: solitas-serif-normal, serif;
  font-weight: 300;
  font-style: italic;
}

.toolbar-item.button.underline span {
  font-family: solitas-serif-normal, serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: underline;
}



.toolbar-item.button span {
  vertical-align: middle;
}

.toolbar-item.button.separator {
  border: none;
  opacity: 0.34;
}

.toolbar .small.logo {
  cursor: pointer;
  display: block;
  background: url('/images/fauxcel-logo-large.png') no-repeat center center;
  width: 2em;
  height: 2em;
  background-size: contain;
  position: relative;
  /* animation: spin 2s linear infinite;
  animation-timing-function: ease-in-out; */
}

.app-name {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5em;
  padding-right: 1em;
  color: var(--accent-color);
  vertical-align: middle;
}

.formula-input .toolbar-label {
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 700;
  font-style: normal;
  padding-right: 0.25em;
  font-size: 1em;
}

.toolbar .toolbar-item .formula-input {
  font-size: 1em;
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 500;
  font-style: normal;
  color: black;
  background-color: var(--bg-color-light);
  border: 1px solid var(--highlight);
  padding: 0.25em 0.25em;
  border-radius: 0.25em;
}


.cellgrid {
  height: calc(100vh - 4.75em);
  width:100%;
  overflow: auto;
}

.cellgrid .row.wrapper:first-child {
  position: sticky;
  top:0;
  z-index: 4;
}


.cellgrid .row.wrapper:first-child span:first-child {
  color: transparent;
  z-index: 3;
  position: sticky;
  top: 0;
  left: 0;
}

.cellgrid .col-label,
.cellgrid .row-label {
  font-family: lexia-mono-variable, monospace;
  font-variation-settings: "wght" 300;
  font-size: 1em;
  color: var(--cell-label-text);
  background-color: var(--cell-label-bg);
  border: 1px solid var(--cell-border);
}

.cellgrid .col-label.selected,
.cellgrid .row-label.selected {
  color: var(--cell-label-text-selected);
  font-variation-settings: "wght" 600;
  background-color: var(--cell-label-bg-selected);
}

.cellgrid .row.wrapper {
  float: left;
  clear: both;
  display: flex;
  padding: 0;
  margin: 0;
}

.cellgrid .row.wrapper .row-label {
  text-align: right;
  width: 3em;
  display: block;
  flex-shrink: 0;
  padding: 0.25em 0.2em 0.25em 0em;
  position: sticky;
  left: 0;
  z-index: 2;
}

.cellgrid .row.wrapper .col-label {
  text-align: center;
  display: block;
  width: var(--cell-max-width);
  flex-shrink: 0;
  padding: 0.25em;
  z-index: 1;
}

.cellgrid .row.wrapper input {
  border: 1px solid var(--cell-border);
  border-radius: 0;
  float: left;
  width: var(--cell-max-width);
  height: 1em;
  font-size: 1em;
  padding: 0.25em;
}

.cellgrid .row.wrapper input.selected {
  background-color: var(--select-focus);
}
/* 
#app .wrapper {
  position: relative;
} */

#app, html, body, .appwrapper {
  /* fill viewport */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


#lispy {
  background-image: url('/images/fauxcel-lispy-mascot-temp.png');
  width: 119px;
  height: 93px;
  position: absolute;
  margin-left: 80%;
  margin-top: 20%;
  z-index: 100;
  cursor: grab;
  background-size: contain;
  opacity: 0.85;
  transition: opacity 0.25s ease-in-out;
}

#lispy:hover {
  opacity: 1;
}

#lispy:hover::after {
  font-family: new-atten, sans-serif;
  font-weight: 400;
  font-style: normal;
  content: "fauxcel is not finished yet but will be feature complete soon 😊. For now you can only drag me around. I will have AI capabilities soon. All math operators with cell references and ranges work, in addition to the formulas AVG, SUM and ROUND.";
  position: absolute;
  display: block;
  border: 1px solid black;
  background-color: #ffffcc;
  color: black;
  padding: 1em;
  border-radius: 6px;
  width: 15em;
  top: -170px;
  left: -6em;
  box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.9);
  text-align: center;
}

#clippy:active {
  cursor: grabbing;
}
