body {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.dark-bg {
  background-color: var(--dark-bg-color)
}

h1,
h2,
h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

.toolbar {
  position: sticky;
  display: flex;
  flex-direction: row;
}

.toolbar .toolbar-item .app-name {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5em;
  padding-right: 1em;
  color: var(--glaucous);
  vertical-align: middle;
}

.toolbar .toolbar-item {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5em 1em;
  color: var(--button-text);
  vertical-align: middle;
}

.formula-input .toolbar-label {
  font-family: courier-prime, monospace;
  font-weight: 700;
  font-style: normal;
  padding-right:0.5em;
  font-size:1em;
}

.toolbar .toolbar-item input.formula-input {
  font-size:1em;
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.toolbar .toolbar-item a {
  color: var(--button-text);
  border: 1px solid #00000000;
  padding: 0.25em 0.5em;
}

.toolbar .toolbar-item a:hover {
  border: 1px solid var(--highlight);
  border-radius: 0.25em;
}



.cellgrid {
  overflow:scroll;
}

.cellgrid .row.wrapper:first-child {
  /* position: sticky;
  left:0;
  top:0; */
}


.cellgrid .row.wrapper:first-child span:first-child {
  color:var(--cell-label-bg);
  z-index: 100;

}

.cellgrid .row.wrapper {
  float:left;
  clear:both;
  display: flex;
  padding:0;
  margin:0;
}

.cellgrid .row.wrapper .row-label {
  text-align:right;
  width:2em;
  display: block;
  flex-shrink: 0;
  padding:0.25em 0.2em 0.25em 0em;
  background-color:var(--cell-label-bg);
  border:1px solid var(--highlight);
  position:sticky;
  left:0;
}

.cellgrid .row.wrapper .col-label {
  text-align:right;
  display: block;
  width:var(--cell-max-width);
  border:1px solid var(--highlight);
  font-family: courier-prime, monospace;
  font-size:1em;
  flex-shrink: 0;
  padding:0.25em;
  background-color:var(--cell-label-bg)

}

.cellgrid .row.wrapper input {
  border-radius:0;
  float:left;
  width:var(--cell-max-width);
  height:1em;
  font-size:1em;
  padding:0.25em;
}

.cellgrid .row.wrapper input.selected {
  background-color:var(--button-bg-color);
}
